.layout{
    min-height: 100vh;
    max-width: 100vw;
}


.sideBtn{
    background-color: transparent;
    border: 0;
    color: #fff;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}