.layout{
    background-image: url("../assets/bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.loginCard{
    height: 35em;
    width: 25em;
    box-shadow: '0 8px 32px rgba(0,0,0,0.3)';
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
    backdrop-filter: 'blur(10px)';
    padding: 32px;
    border-radius: 16px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.logo{
    background-color: #faad14;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 32px;
}

.logoIcon{
    font-size: 32px;
    color:#fff;
}

.btn{
    background-color: #faad14;
    color: #fff;
    margin-top: 12px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border: 8px;
    border-color: #faad14;
    transition: 0.2s ease;
    box-shadow: 0 4px 10px rgba(255, 165, 0, 0.4);
}

.btn:hover{
    background-color: rgb(216, 148, 21) !important;
    transform: translateY(-2px);
}