.tableCards{
    border: 3px solid;
    border-left: 8px solid;
    padding: 0;
    overflow:hidden;
    height: 100%;
    width: 100%;
    position: relative;
}

.tableCards :global(.ant-card-body) {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tableCards:hover{
    border: 3px solid;
    border-left: 8px solid;
    cursor: pointer;
}

.cardContent {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.bottomBar{
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.iconBg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.statusTag{
    position: absolute;
    top: 12px;
    right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}