.tableCards{
    border: 3px solid;
    border-left: 8px solid;
    padding: 0;
    overflow:hidden;
}

.tableCards :global(.ant-card-body) {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tableCards:hover{
    border: 3px solid;
    border-left: 8px solid;
}

.bottomBar{
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.iconBg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}